body {
    width: 900px;
    margin: 0 auto; 
    background-color: #2e83ec;

}

/*计算器*/
main {
    width: 450px;
    height: 450px;
    margin: 100px auto;
    border: 5px solid #622f2f;
    background: linear-gradient(to bottom,#69efe7,white);
    border-radius: 2%;
}

/*计算器屏幕*/
#screen {
    width: 400px;
    height: 55px;
    font: bold 40px serif;
    border: 2px solid blue;
    margin: 10px auto;
    background-color: white;
    text-align: right;
}

/*计算器的按钮*/
#button-bar {
    word-spacing: -1px;
    width: 450px;
    height: 375px;
    margin-top: 30px;
    padding-right: 25px;
}

#button-bar button {
    display: inline-block;
    width: 81.25px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0px;
    font: bold 35px serif;
    text-align: center;
    background: linear-gradient(to top,blue,#00ffff);
    border-radius: 25%;
    text-decoration: none;
    box-shadow: 1px 2px 2px 3px black;
}
#dot {
    font-size: 30px;
    vertical-align: 7px;
}
#button-bar button:active {
    background: linear-gradient(to bottom,blue,#00ffff);
    box-shadow: 1px 1px 2px 2px black inset;
}

button {
    outline: none;
}