body {
    width: 750px;
    margin: 0 auto;
    background-color: #EEEEEE;
    font-family: 'Microsoft JhengHei UI';
}

main {
    width: 750px;
    height: 430px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: white;
    position: relative;
}

/*标题部分*/
header {
    margin-left: 200px;
    font-size: 30px;
    font-weight: bold;
}

/*题目*/
#title {
    color:crimson;
}

/*步数*/
#num_click_bar {
    display: inline-block;
    margin:0 20px;
}
/*重新开始*/
#restart {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

/*原图*/
.origin {
    position: absolute;
    left: 386px;
    top: 53px;
    width: 350px;
    height: 350px;
    background: url("../imgs/panda.jpg") no-repeat;
    border: 1px solid black;
}

/*拼图*/
#photo_bar {
    position: absolute;
    left: 0px;
    top: 45px;
    margin-top: 10px;
    margin-left: 20px;
    width: 350px;
    height: 350px;
    background-color: #EEEEEE;
}

.photo {
    box-sizing:border-box;
    width: 87.5px;
    height: 87.5px;
    border: 0.1px solid black;
    transition: all 0.3s;
    position: absolute;
    left: 130px;
    top: 130px;
    z-index: 999;
}

#pho0 {
    background: url("../imgs/panda.jpg") 0px 0px no-repeat;
}

#pho1 {
    background: url("../imgs/panda.jpg") -87.5px 0px no-repeat;
}

#pho2 {
    background: url("../imgs/panda.jpg") -175px 0px no-repeat;
}

#pho3 {
    background: url("../imgs/panda.jpg") -262.5px 0px no-repeat;
}

#pho4 {
    background: url("../imgs/panda.jpg") 0px -87.5px no-repeat;
}

#pho5 {
    background: url("../imgs/panda.jpg") -87.5px -87.5px no-repeat;
}

#pho6 {
    background: url("../imgs/panda.jpg") -175px -87.5px no-repeat;
}

#pho7 {
    background: url("../imgs/panda.jpg") -262.5px -87.5px no-repeat;
}

#pho8 {
    background: url("../imgs/panda.jpg") 0px -175px no-repeat;
}

#pho9 {
    background: url("../imgs/panda.jpg") -87.5px -175px no-repeat;
}

#pho10 {
    background: url("../imgs/panda.jpg") -175px -175px no-repeat;
}

#pho11 {
    background: url("../imgs/panda.jpg") -262.5px -175px no-repeat;
}

#pho12 {
    background: url("../imgs/panda.jpg") 0px -262.5px no-repeat;
}

#pho13 {
    background: url("../imgs/panda.jpg") -87.5px -262.5px no-repeat;
}

#pho14 {
    background: url("../imgs/panda.jpg") -175px -262.5px no-repeat;
}

/*鼠标在拼图上的反应*/
#photo_bar div:hover {
    cursor: pointer;
    transform: scale(0.9);
    z-index: 99999;
}